@using MoneyTracker.Domain.Models
@{
    Layout = "/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
    <h1>Money Tracker: @Model.Result.User.UserName</h1>
    <h2 class="balance">Balance: @Model.Result.User.Balance Сум</h2>
    <form method="get" asp-action="CreateMoney" asp-controller="Home">
        <input type="hidden"  name="UserName" value="@Model.Result.User.UserName">
        <input type="hidden"  name="DefaultFilter" value="true">
        <input type="hidden"  name="UserId" value="@Model.Result.User.Id">
        <button class="filter-btn" id="filter-button" type="submit">Create Transaction</button>
    </form>
    <!-- Фильтры -->
    <form method="get" asp-action="Dashboard" asp-controller="Home">
        <div class="filters">
            <div class="filter-group">
                <label for="date-start">Date Start</label>
                <input type="date" id="date-start" value="@Model.Result.Filter.DateStart.ToString("yyyy-MM-dd")" name="MoneyFilter.DateStart">
            </div>
            <div class="filter-group">
                <label for="date-end">Date End</label>
                <input type="date" id="date-end" value="@Model.Result.Filter.DateEnd.ToString("yyyy-MM-dd")" name="MoneyFilter.DateEnd">
            </div>
            <div class="filter-group">
                <label for="price-start">Price Start</label>
                <input type="number" id="price-start" value="@Model.Result.Filter.AmountStart" name="MoneyFilter.AmountStart" placeholder="Enter price" min="0">
            </div>
            <div class="filter-group">
                <label for="price-end">Price End</label>
                <input type="number" id="price-end" value="@Model.Result.Filter.AmountEnd" name="MoneyFilter.AmountEnd" placeholder="Enter price" min="0">
            </div>
            <div class="filter-group">
                <button id="toggleButton" type="button">Show All Categories</button>
                <input type="hidden" id="inputCategory" name="MoneyFilter.Category.Name" value="" />
                <input type="hidden" id="inputVisible" name="categoryIsVisibility" value="true" />
            </div>
            <input class="hidden" value="@Model.Result.categoryIsVisible" name="categoryIsVisibility"/>
            <div class="filter-group" id="forCategory">
                <label for="categoryType">Category</label>
                <select id="categoryType" class="@(Model.Result.categoryIsVisible==false ? "hidden":"")" name="MoneyFilter.Category.IsIncome">
                    @if(Model.Result.Filter.Category.IsIncome){
                        <option value="true" class="">Income</option>
                        <option value="false" class="">Expense</option>
                    }else{
                        <option value="false" class="">Expense</option>
                        <option value="true" class="">Income</option>
                    }
                </select>
            </div>

            <div class="filter-group">
                <label for="subcategory">Subcategory</label>
                <select id="subcategory" class="@(Model.Result.categoryIsVisible==true ? "hidden":"")" name="MoneyFilter.Category.Id">
                    <option value="@Model.Result.Filter.Category.Id"
                            class="@(Model.Result.Filter.Category.Id==0 ?"" : Model.Result.Filter.Category.IsIncome ==true ? "income" : "expense")">@(Model.Result.Filter.Category.Name ?? "All")</option>
                    @if (Model.Result.Filter.Category.Id!=0)
                    {
                    <option value="" class="">All</option>
                    }
                    @if (Model.Result.Filter.Category.Id != 1)
                    {
                        <option value="1" class="income @(Model.Result.Filter.Category.IsIncome==true?"":"hidden")">
                            Заработная плата</option>
                    }
                    @if (Model.Result.Filter.Category.Id != 2)
                    {
                        <option value="2" class="income @(Model.Result.Filter.Category.IsIncome==true?"":"hidden")">Аренда</option>
                    }
                    @if (Model.Result.Filter.Category.Id != 3)
                    {
                        <option value="3" class="income @(Model.Result.Filter.Category.IsIncome==true?"":"hidden")">Иные приходы</option>
                    }
                    @if (Model.Result.Filter.Category.Id != 4)
                    {
                        <option value="4" class="expense @(Model.Result.Filter.Category.IsIncome==false?"":"hidden")">Продукты питания</option>
                    }
                    @if (Model.Result.Filter.Category.Id != 5)
                    {
                        <option value="5" class="expense @(Model.Result.Filter.Category.IsIncome==false?"":"hidden")">Транспорт</option>
                    }
                    @if (Model.Result.Filter.Category.Id != 6)
                    {
                        <option value="6" class="expense @(Model.Result.Filter.Category.IsIncome==false?"":"hidden")">Мобильная Связь</option>
                    }
                    @if (Model.Result.Filter.Category.Id != 7)
                    {
                        <option value="7" class="expense @(Model.Result.Filter.Category.IsIncome==false?"":"hidden")">Интернет</option>
                    }
                    @if (Model.Result.Filter.Category.Id != 8)
                    {
                        <option value="8" class="expense @(Model.Result.Filter.Category.IsIncome==false?"":"hidden")">Развлечение</option>
                    }
                    @if (Model.Result.Filter.Category.Id != 9)
                    {
                        <option value="9" class="expense @(Model.Result.Filter.Category.IsIncome==false?"":"hidden")">Другие расходы</option>
                    }
                </select>
            </div>

            <div class="filter-group">
                <label for="orderby-amount">Order by </label>
                <select id="orderby-amount" name="MoneyFilter.OrderBy">
                    @if (Model.Result.Filter.OrderBy == 2)
                    {
                        <option value="2" selected>По убыванию Даты</option>
                    }
                    else{<option value="2" >По убыванию Даты</option>}

                    @if (Model.Result.Filter.OrderBy == 1)
                    {
                        <option value="1" selected>По возрастанию Даты</option>
                    }
                    else{<option value="1" >По возрастанию Даты</option>}

                    @if (Model.Result.Filter.OrderBy == 3)
                    {
                        <option value="3" selected>По возрастанию Суммы</option>
                    }
                    else{<option value="3" >По возрастанию Суммы</option>}

                    @if (Model.Result.Filter.OrderBy == 4)
                    {
                        <option value="4" selected>По убыванию Суммы</option>
                    }
                    else{<option value="4" >По убыванию Суммы</option>}

                </select>
            </div>
            <input type="hidden" name="MoneyFilter.UserId" value="@Model.Result.User.Id">
            <input type="hidden" name="UserName" value="@Model.Result.User.UserName">
            <input type="hidden" id="defaultFilter" name="DefaultFilter" value="false">
            <button class="filter-btn" id="filter-button" type="submit">Apply Filters</button>
        </div>
    </form>
    <form method="get" asp-action="Dashboard" asp-controller="Home">
        <div class="filters">
            <input type="hidden" name="UserName" value="@Model.Result.User.UserName">
            <input type="hidden" name="DefaultFilter" value="true">
            <button class="filter-btn" id="filter-button" type="submit">Reset Filters</button>
        </div>
    </form>
    
    <!-- Таблица с транзакциями -->
    <table class="transactions-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Price: СУМ</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Result.Transactions != null){
                @foreach (var transaction in Model.Result.Transactions)
                {
                    <tr>
                        <td>@transaction.Date.ToString("yyyy-MM-dd")</td>
                        <td>@transaction.Category.Name</td>
                        <td>@transaction.Amount</td>
                        <td>@transaction.Comment</td>
                        <td>
                            <form method="post" asp-action="UpdateMoney" asp-controller="Home" style="display:inline;>
                                <input type="hidden" name="Id" value="@transaction.Id">
                                <input type="hidden" name="Id" value="@transaction.Id">
                                <input type="hidden" name="Category" value="@transaction.Category">
                                <input type="hidden" name="UserName" value="@Model.Result.User.UserName">
                                <button type="submit" class="action-btn update-btn">Update</button>
                            </form>
                            <form method="post" asp-action="DeleteTransactions" asp-controller="Home" style="display:inline;">
                                <input type="hidden" name="Id" value="@transaction.Id">
                                <input type="hidden" name="Category" value="@transaction.Category">
                                <input type="hidden" name="UserName" value="@Model.Result.User.UserName">
                                <button type="submit" class="action-btn delete-btn">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>