@using MoneyTracker.Domain.Models
@{
    Layout = "/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
    <h1>Money Tracker: @Model.Result.User.UserName</h1>
    <h2 class="balance">Balance: @Model.Result.User.Balance Сум</h2>
    <form method="get" asp-action="CreateMoney" asp-controller="Home">
        <input type="hidden"  name="UserName" value="@Model.Result.User.UserName">
        <input type="hidden"  name="DefaultFilter" value="true">
        <input type="hidden"  name="UserId" value="@Model.Result.User.Id">
        <button class="filter-btn" id="filter-button" type="submit">Create Transaction</button>
    </form>
    <!-- Фильтры -->
    <form method="get" asp-action="Dashboard" asp-controller="Home">
        <div class="filters">
            <div class="filter-group">
                <label for="date-start">Date Start</label>
                <input type="date" id="date-start" name="MoneyFilter.DateStart">
            </div>
            <div class="filter-group">
                <label for="date-end">Date End</label>
                <input type="date" id="date-end" name="MoneyFilter.DateEnd">
            </div>
            <div class="filter-group">
                <label for="price-start">Price Start</label>
                <input type="number" id="price-start" name="MoneyFilter.AmountStart" placeholder="Enter price" min="0">
            </div>
            <div class="filter-group">
                <label for="price-end">Price End</label>
                <input type="number" id="price-end" name="MoneyFilter.AmountEnd" placeholder="Enter price" min="0">
            </div>
            <div class="filter-group">
                <label for="category">Category</label>
                <select id="category" name="MoneyFilter.Category">
                    <option value="All">All</option>
                    <option value="Income">Income</option>
                    <option value="Expense">Expense</option>
                </select>
            </div>
            <div class="filter-group">
                <label for="orderby-amount">Order by </label>
                <select id="orderby-amount" name="MoneyFilter.OrderBy">
                    <option value="2">По убыванию Даты</option>
                    <option value="1">По возрастанию Даты</option>
                    <option value="3">По возрастанию Суммы</option>
                    <option value="4">По убыванию Суммы</option>
                </select>
            </div>
            <input type="hidden" name="MoneyFilter.UserId" value="@Model.Result.User.Id">
            <input type="hidden" name="UserName" value="@Model.Result.User.UserName">
            <input type="hidden" name="DefaultFilter" value="false">
            <button class="filter-btn" id="filter-button" type="submit">Apply Filters</button>
        </div>
    </form>
    
    <!-- Таблица с транзакциями -->
    <table class="transactions-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Price: СУМ</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Result.Incomes != null){
                @foreach (var transaction in Model.Result.Incomes)
                {
                    <tr>
                        <td>@transaction.Date.ToString("yyyy-MM-dd")</td>
                        <td>@transaction.Category</td>
                        <td>@transaction.Amount</td>
                        <td>@transaction.Comment</td>
                        <td>
                            <form method="post" asp-action="UpdateTransactions" asp-controller="Home" style="display:inline;>
                                <input type="hidden" name="Id" value="@transaction.Id">
                                <input type="hidden" name="Category" value="@transaction.Category">
                                <button type="submit" class="action-btn update-btn">Update</button>
                            </form>
                            <form method="post" asp-action="DeleteTransactions" asp-controller="Home" style="display:inline;">
                                <input type="hidden" name="Id" value="@transaction.Id">
                                <input type="hidden" name="Category" value="@transaction.Category">
                                <button type="submit" class="action-btn delete-btn">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
            @if (Model.Result.Expenses != null)
            {
                @foreach (var transaction in Model.Result.Expenses)
                {
                    <tr>
                        <td>@transaction.Date.ToString("yyyy-MM-dd")</td>
                        <td>@transaction.Category</td>
                        <td>@transaction.Amount</td>
                        <td>@transaction.Comment</td>
                        <td>
                            <form method="post" asp-action="UpdateTransactions" asp-controller="Home" style="display:inline;>
                                <input type="hidden" name="Id" value="@transaction.Id">
                                <input type="hidden" name="Category" value="@transaction.Category">
                                <button type="submit" class="action-btn update-btn">Update</button>
                            </form>
                            <form method="post" asp-action="DeleteTransactions" asp-controller="Home" style="display:inline;">
                                <input type="hidden" name="Id" value="@transaction.Id">
                                <input type="hidden" name="Category" value="@transaction.Category">
                                <button type="submit" class="action-btn delete-btn">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
            @if (Model.Result.BaseTransactions != null)
            {
                @foreach (var transaction in Model.Result.BaseTransactions)
                {
                    <tr>
                        <td>@transaction.Date.ToString("yyyy-MM-dd")</td>
                        <td>@transaction.Category</td>
                        <td>@transaction.Amount</td>
                        <td>@transaction.Comment</td>
                        <td>
                            <form method="post" asp-action="UpdateTransactions" asp-controller="Home" style="display:inline;>
                                <input type="hidden" name="Id" value="@transaction.Id">
                                <input type="hidden" name="Category" value="@transaction.Category">
                                <button type="submit" class="action-btn update-btn">Update</button>
                            </form>
                            <form method="post" asp-action="DeleteTransactions" asp-controller="Home" style="display:inline;">
                                <input type="hidden" name="Id" value="@transaction.Id">
                                <input type="hidden" name="Category" value="@transaction.Category">
                                <button type="submit" class="action-btn delete-btn">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>